@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Modeka';
    src: url('../fonts/Modeka.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, "sans-serif";
    padding-top: 65px;
    background-color: #ECF0F1;
/*    background-color: #101010;*/
    font-size: medium;
}
.font-small{
    font-size: small;
}
.news-feed{
    overflow: auto;
    position: relative;
    max-height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select-date {

}
.caption-slider{
    font-size: large;
    font-family: "RobotoCondensed"

}
.caption-slider h1{
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}
.caption-slider p{
      -vendor-animation-duration: 3s;
      -vendor-animation-delay: 5s;
      -vendor-animation-iteration-count: infinite;
  }
.tabs{
    background-color: #ffffff;
}
.description{
    font-size: small;
    font-family: Helvetica Neue, Helvetica, Arial, "sans-serif";
}
.banner{
   /* height: 150px;*/
    background-color: #66afe9;
    width: 100%;
    margin-bottom: 20px;
}
.breadcrumb{
    background-color: #1b2426;
}
ul#list-select li{
    display: inline-block;
    list-style-type: none;
}
.list{
    background:  #eeefff;
}
.main-gallery{
    width: 100%;
    height: 100%;
}
.navbar-inverse{
    height: 70px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: #a4b2cb;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #101010;
}
input, textarea, keygen, select, button {
    margin: 0em;
    font: normal normal normal 13.3333330154419px/normal Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
.img-view{
    margin: 20px;
}
.reg-block {
    width: 380px;
    padding: 20px;
    margin: 60px auto;
    background: #fff;
    border-top: solid 2px #72c02c;
}
.reg-block-header {
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: solid 1px #eee;
}
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}
form {
    display: block;
    margin-top: 0em;
}
.message{
    font-size: small;
    margin: 10px;
}
.reg-page {
    font-family: Helvetica Neue, Helvetica, Arial, "sans-serif";
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    -webkit-box-shadow: 0px 0px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.reg-header {
    color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.input-group-addon {
    color: #b3b3b3;
    font-size: 14px;
    background: #fff;
}
table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: gray;
}

.pro-tip{
    font-size: 14px;
}
.table-striped td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.item-home{
    width: 100%;

}
.item-home img{
    object-fit: contain;
}
html {

}
#img-preview img{
    margin-bottom: 15px;
}

#header {
    height: 50px;
    margin-bottom: 7px;
    padding-bottom: 4px;
    position: relative;
    z-index: 99;
}

#header .links {
    position: absolute;
    right: 0px;
    bottom: 3px;
    font-size: 10px;
    padding-right: 10px;
}

.gallery-cell {
    width: 100%;
    height: 300px;
    background: #8C8;
}

.item-grid {
    width: 100%;

}

.side-heading {
    margin-top: 0px;
    padding: 12px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
    background: none repeat scroll 0% 0% #383838;
}

.circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    position: relative;
}

.cat-item {
    width: 100%;

}
.cat-item-inner{
    align: center;
}
/*
.cat-icon {
    width: auto;
    text-align: center;
    align-items: center;
    opacity: 1;
}
a .cat-inner:hover{
    display: block;
}
.cat-inner {
    display: none;
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: 1;
}

.cat-inner:hover {
    opacity: .6;
}

.cat-icon {

    text-align: -moz-center;
    z-index: 0;

}*/

.circle-border {
    border: 1px solid black;
}

.circle-solid {
    background-color: whitesmoke;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
}

hr {
    border: 1px solid #adadad;
}

.footer2 {
    background-color: #333;
    color: #CCC;
    padding: 17px 17px;
    text-align: left;
    border-top: 1px solid #555;
}

#footer2 p {
    margin: 0px;
    padding: 0px;
    line-height: 100%;

}

.footer {
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer h3 {
    font-size: 15px;
    line-height: 1.57143em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer ul {
    list-style: outside none none;
    padding: 0px;
    margin: 0px;
}

/****************************
Testimonial
****************************/
.testimonial-wrapper {
    background-image: url("../img/chain-690088_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    -moz-background-image: url("../img/chain-690088_1280.jpg");
}

.testimonial .cycle-slideshow {
    position: relative;
    height: auto;
}

.testimonial .testimonial-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    visibility: hidden;
}

.testimonial .testimonial-title {
    text-transform: uppercase;
}

.testimonial .testimonial-content {
    position: relative;
}

.testimonial .testimonial-person {
    width: 115px;
    float: right;
}

.testimonial .testimonial-text {
    background-color: #f5f5f5;
    padding: 23px 45px 23px 15px;
    margin: 1px 0 0 1px;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.testimonial .testimonial-person-pic {
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 3px;
    left: 20px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
}

.testimonial .testimonial-person-pic img {
    position: absolute;
    left: 0;
    top: 0;
}

.testimonial .testimonial-by {
    float: left;
    margin: 5px 0 15px 80px;
    font-size: 11px;
    text-transform: uppercase;
}

.testimonial .testimonial-by .testimonial-by-name {
    font-weight: bold;
}

.testimonial-by-name {
    color: #279fbb;
    margin-right: 5px;
}

.testimonial-big {
    width: 100%;
    background-color: #279fbb;
    position: relative;
    margin: 75px 0 0 0;
}

.testimonial-big .testimonial-big-text {
    float: left;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    padding: 30px 40px;
    position: relative;
    text-align: center;
}

.testimonial-big .testimonial-big-text:after {
    position: absolute;
    left: 0;
    top: 47px;
    content: "\201C";
    font-size: 90px;
    color: black;
    color: rgba(0, 0, 0, 0.35);
}

.testimonial-big .testimonial-big-text:before {
    position: absolute;
    right: 0;
    bottom: 10px;
    content: "\201D";
    font-size: 90px;
    color: black;
    color: rgba(0, 0, 0, 0.35);
}

.testimonial-big .row {
    position: relative;
}

.testimonial-big .row .col-md-2, .testimonial-big .row .col-sm-2, .testimonial-big .row .col-lg2 {
    position: static;
}

.testimonial-big .testimonial-big-img {
    position: absolute;
    right: 15px;
    bottom: 0;
}

.testimonial-big .testimonial-big-img img {
    width: auto;
    height: 190px;
}